@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
}

html {
  scroll-behavior: smooth;
}

.custom-dropdown {
  min-width: 12rem;
}

.custom-dropdown {
  min-width: 12rem;
}